@page "/acerca"

<style>

    h1{
        color:teal;
    }
    h2{
        color:slateblue;
    }

    .a{
        color:red;
    }

    p{
        text-align:justify;
        color: slateblue;
    }
</style>

<h1>Celeste Perez</h1>
<h2>Alumna UNAN_Managua</h2>
<br />
<p> Hola Mi Nombre es Celeste Perez, y soy alumna cursante de la carrera de Ingenieria en Computacion  
    </p>
<p>
    Esta app demuestra el uso de componentes, two-way binding, generacion de componentes dinamicos,
    ciclos, comprension e implementacion basica de <span class="a">UX/UI (experiencia de usuario, interface de usuario) </span>
    ademas de conceptos inciales de <span class="a"> CI/CD (codigo continuo, implementacion continua) </span>
</p>